{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body bg-dark">
            <p class="font-weight-bold"> Are you sure you want to delete order id: {{item.id}} {{item}} belonging
                to {{item.customer}} ordered on
                {{item.date_created}} ?</p>

            <form action="{% url 'delete_order' item.id %}" method="POST">

                {% csrf_token %}
                <a class="btn btn-bock btn-warning" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-bock btn-danger" type="submit" name="Confirm">
            </form>
            </form>
        </div>
    </div>
</div>
{% endblock %}