{% extends 'accounts/main.html' %}

{% block content%}

<br>

<div class="row">
    <div class="col-md">
        <h5>Products</h5>
    </div>
    <div class="card card-body bg-dark">
        <table class="table text-light">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Category</th>
                <th>Series</th>

                {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>${{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.series}}</td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>

{% endblock content %}